<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>
    <% if (kindOfDay === 6 || kindOfDay === 0) { %>
        <h1 style="color: rgb(227, 126, 160);">Today is <%= kindOfDay %></h1>
    <% } else {%>
        <h1 style="color: rgb(48, 202, 223);">Today is <%= kindOfDay %></h1>
    <% }%>
    <ul>
        <% for( let i = 0; i < newItems.length; i++ ) { %>
            <li><%= newItems[i] %></li>
        <% } %>
    </ul>

    <form action="/" method="POST">
        <input type="text" name="inputNewItem" placeholder="plan to ...">
        <button type="submit" name="button">Add</button>
    </form>
</body>
</html>